h1{font-family: "Comic Sans MS"; font-size: 500%; color: yellow}
h2{font-size: 200%}
h3{font-family: "Chiller"; font-size: 300%}
body{background-image: url(https://raw.githubusercontent.com/sdang1/bitcamp16/master/background.jpg);
	background-position: center;